<h1> All Tracks </h1>

<hr/>

<% @tracks.each do |track| %>
  <div class="track">
    <h3><a href="/tracks/<%= track.id %>"><%= track.title %></a> <small>(by: <%= track.artist %>)</small></h3>
    <p>
      <%= track.url %>
    </p>
  </div>
<% end %>

<hr/>

<button type="button" class="btn btn-danger">Danger</button>

<a href="/tracks/new">Add more Music to Our Collection!</a>
