
<div class="container-fluid">
<h1><%= @tracks.title %></h1>

<p>
  Artist: <%= @tracks.artist %>
</p>

<img src="<%= @tracks.url %>">
<input type="submit" value="Upvote <%= @tracks.votes.count %>">


<hr/>
<a href="/tracks">Back to All Tracks</a>

</div>