<h1><%= @tracks.title %></h1>

<p>
  Author: <%= @tracks.artist %>
</p>

<p>
  <%= @tracks.url %>
</p>
<input type="submit" value="Upvote <%= @tracks.votes.count %>">

<hr/>
<a href="/tracks">Back to All Tracks</a>