/*Menu*/
.navbar {
  background-color: rgba(255,255,255,0.3);
  letter-spacing: 4px;
  padding-top: 5px;
}

.navbar:hover{
  background-color: rgba(255,255,255,0.5);
}

.navbar li a, .navbar .navbar-brand {
  color: black !important;
}

/*Index*/
.jumbotron {
  background: url(img/mainbackground.jpeg) no-repeat;
  background-size: cover;
  text-align: center;
  padding: 30% 0 40% 0;
}

.jumbotron h1 {
  color: white;
  padding: 10px;
  border: 10px solid white;
  background-color: rgba(0,0,0,0.5);
  font-size: 50px;
}

.jumbotron span img {
  margin-top: 50px;
  height:150px;
  transform: rotate(-90deg) ;
  transition: all 0.8s ease;
}

.jumbotron span img:hover {
  transform: rotate(135deg) ;
  -webkit-filter: invert(100%);
  transition: all 0.8s ease;
  position: relative;
}

/*Tracks*/
.track_card {
  height: 300px;
  width: 250px;
  margin: 40px;
  padding: 0;
  text-align: center;

}

.track_img {
  position:relative;
}

.track_img img{
  border: 2px solid black;
  width: 100%;
  margin: 0;
}

.track_img button{
  background-color: transparent;
  border: none;
  text-decoration: none;
  text-align: center;
  color:black;
  font-size: 40px;
}

.track_tag {
  margin: 1px;
  padding: 0px;
}

.track_detail {
  display: none;
  position:absolute;
  top: 33%;
  left: 25%;
}

.track_img:hover > img {
  opacity: 0.05;
}

.track_img:hover > .track_detail{
  display: block;
  z-index: 10;
}





