
  <div class = "jumbotron">

    <h1 class="col-sm-8 col-sm-offset-2">Welcome to Music Wall</h1>

    <span class="col-md-2 col-md-offset-5">
      <a href session><img src="stylesheets/img/gototracksicon.png" alt="icon">
      </img>
    </span>
    <!-- design by Alfredo Hernandez from the Noun Project -->
    <!--  -->
  </div>


