
  <div class = "jumbotron">

    <h1 class="col-sm-8 col-sm-offset-2">Welcome to Music Wall</h1>

    <span class="col-md-2 col-md-offset-5">
      
      <% 
      if logged_in?
        go_to = "/tracks"
      else
        go_to = "/sessions/login"
      end 
      %>

      <a href="<%= go_to %>">
          <img src="stylesheets/img/gototracksicon.png" alt="icon">
      </a>
    </span>
    <!-- design by Alfredo Hernandez from the Noun Project -->
    <!--  -->
  </div>


