
  <div class = "jumbotron">

    <h1 class="col-md-8 col-md-offset-2">Welcome to Music Wall,<%= @current_user %></h1>

    <span class="col-md-2 col-md-offset-5">

      <img src="stylesheets/img/gototracksicon.png" alt="icon">
      </img>
    </span>
    <!-- design by Alfredo Hernandez from the Noun Project -->
    
  </div>


